<section class="sta-right">
    <p class="title fs20 yahei mgb10">{{_e('团队')}}</p>
    <div class="mgt10 fs14 c999">
         <div class="con">
            <p class="c333"><strong>{{_e('鲜旅客以开放、利他为己任！')}}</strong></p>
            <p></p>
            <p class="para">{{_e('鲜旅客团队梦想做的一个事情就是：如何让旅行变得更加轻松！我们由一群国内顶尖互联网技术精英和旅行爱好者组成。我们是旅行达人，也是极客码农，一动一静仅仅是为了更多出境自由行的客人提供方便！我们相信只有持续为游客和导游构建健康的展示交流平台，才是鲜旅客团队源源不断的动力来源。')}}</p>
            <p class="para">{{_e('鲜旅客的创办缘起创始人胡捷的一次去欧洲自由行的时候直接感受，虽说决定自由行，但是还是有一些忐忑，就是很希望找个当地导游或者中国留学生带着，提供交通和翻译的便利。由于巴黎据传比较乱，这个需求就愈发强烈。但是当时还没有这方面的互联网产品能够满足这个需求点，和很多出国的朋友聊了之后发现这是一个普遍的愿望，所以就萌发了创办鲜旅客这个平台的想法。作为游客的切身感受也让鲜旅客做出承诺：平台以开放、利他为前提！')}}</p>
            <p class="para">{{_e('我们设想为更多的国内游客介绍海外导游这个群体，为游客提供方便，也为海外导游免费提供客源，为导客双方搭建桥梁，促成自由快速沟通！')}}</p>
            <ul class="pdt10 team-list clearfix">
            <li>
                <img src="{{"image/sta/t1.png"|url}}" alt="">
                <p>胡捷</p>
            </li>
            <li>
                <img src="{{"image/sta/t2.png"|url}}" alt="">
                <p>黄德纲</p>
            </li>
            <li>
                <img src="{{"image/sta/t3.png"|url}}" alt="">
                <p>易海涛</p>
            </li>
            <li>
                <img src="{{"image/sta/t4.png"|url}}" alt="">
                <p>王丰</p>
            </li>
        </ul>
            <p class="para">{{_e('目前团队成员都来自中国，我们欢迎国内外的朋友加盟，在这里没有上下级之分，只有平等的合作共事，欢迎和我们一起拥抱已经到来的旅游经济！')}}</p>
        </div>
    </div>
</section>